
@mixin gridify($col, $width, $gutter: 2) {
    @media only screen and (min-width: #{$width}#{"px"}){
        .grid-#{$col}-#{$width} {
            & > * {
                width: #{(100 / $col) - $gutter}#{"%"};
            }
        }
    }
}

/**
 * BOX-SIZING
 */

*, *:before, *:after {
    box-sizing: border-box;
}

/**
 * GRIDS
 */

.grid {
    width: 100%;
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;

    & > * {
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }

    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}

@include gridify(2, 400);
@include gridify(4, 600);

/**
 * squarify
 */

.squarify {
  position: relative;
  &:after {
    content: "";
    padding-top: 100%;
  }
}

.squarify-grid > * {
  position: relative;
  &:after {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

/**
 * cardFlip
 */



.flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
  transform: rotateY(180deg);
}
/**
 * Firepad
 */

#userlist {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: auto;
  width: 175px;
}

#firepad {
  position: absolute;
  left: 175px;
  top: 0;
  bottom: 0;
  right: 0;
  height: auto;
}

/**
 * GENERAL
 */

body {
    transition: opacity .25s ease;
}
form {
    display: none;
}
    
